In [17]:
# Load Library
import pandas as pd
from google.colab import drive

In [18]:
# Load Data
diet_food_day_1 = pd.read_sas('/content/drive/MyDrive/CS_179M_Project/DR1IFF_L.xpt', format='xport')
diet_nutrient_day_1 = pd.read_sas('/content/drive/MyDrive/CS_179M_Project/DR1TOT_L.xpt', format='xport')
body_measures = pd.read_sas('/content/drive/MyDrive/CS_179M_Project/BMX_L.xpt', format='xport')

In [19]:
diet_nutrient_day_1.head()

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,130378.0,61366.555827,70554.222162,1.0,73.0,2.0,2.0,40.0,4.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
1,130379.0,34638.056480,36505.468348,1.0,73.0,2.0,2.0,19.0,4.0,1.0,...,1.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
2,130380.0,84728.261560,103979.190677,1.0,73.0,2.0,2.0,16.0,4.0,1.0,...,NaN,2.0,NaN,2.0,NaN,1.0,4.0,2.0,NaN,2.0
3,130381.0,61737.133446,75009.220819,1.0,91.0,2.0,2.0,23.0,5.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
4,130382.0,75846.746917,172361.851828,1.0,73.0,2.0,2.0,27.0,6.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0

In [20]:
# Preprocessing diet_nutrient_day_1

# 1. Only keep data that is reliable and meets the minimum criteria (DR1DRSTZ = 1)
diet_nutrient_day_1 = diet_nutrient_day_1[diet_nutrient_day_1['DR1DRSTZ'] == 1]

# 2. Drop useless columns
cols_to_drop = ['DR1EXMER', 'DR1DAY', 'DR1LANG', 'DR1MRESP', 'DR1HELP']
diet_nutrient_day_1.drop(columns=cols_to_drop, inplace=True, errors='ignore')

# 3. Drop columns with high missing values
missing_rate = 0.8
missing_fractions = diet_nutrient_day_1.isnull().mean()
cols_to_drop = missing_fractions[missing_fractions > missing_rate].index.tolist()
diet_nutrient_day_1.drop(columns=cols_to_drop, inplace=True)

# 4. Append BMXWT from BMX_L (Only keep the rows with BMXWT)
body_measures_weight = body_measures[['SEQN', 'BMXWT']].copy()
body_measures_weight.dropna(subset=['BMXWT'], inplace=True)
diet_nutrient_day_1 = pd.merge(diet_nutrient_day_1, body_measures_weight, on='SEQN', how='inner')

In [21]:
diet_nutrient_day_1.head()

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DRABF,DRDINT,DR1DBIH,DBQ095Z,DBD100,DRQSPREP,...,DRD370N,DRD370O,DRD370P,DRD370Q,DRD370R,DRD370S,DRD370T,DRD370U,DRD370V,BMXWT
0,130378.0,61366.555827,70554.222162,1.0,2.0,2.0,40.0,4.0,NaN,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,86.9
1,130379.0,34638.056480,36505.468348,1.0,2.0,2.0,19.0,1.0,3.0,3.0,...,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,101.8
2,130380.0,84728.261560,103979.190677,1.0,2.0,2.0,16.0,1.0,1.0,4.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,69.4
3,130381.0,61737.133446,75009.220819,1.0,2.0,2.0,23.0,4.0,NaN,4.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,34.3
4,130382.0,75846.746917,172361.851828,1.0,2.0,2.0,27.0,4.0,NaN,3.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,13.6